{% extends 'base-resume-create.html' %}
{% block title %}Add/edit work{% endblock %}
{% block content %}
{% load static %}

<div class="container">

    <h1>Tell us about your most recent job</h1>
    <p>We’ll start there and work backward.</p>
    <form method="post">
        {% csrf_token %}
        
        <div id="Jobdetails">

            <div class="row">
                <div class="col-sm-6">
                    {{form.job_title.label_tag}}
                    {{form.job_title}}
                </div>
                <div class="col-sm-6">
                    {{form.employer.label_tag}}
                    {{form.employer}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{form.city.label_tag}}
                    {{form.city}}
                </div>
                <div class="col-sm-6">
                    {{form.country.label_tag}}
                    {{form.country}}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{form.start_date.label_tag}}
                    {{form.start_date}}
                </div>
                <div class="col-sm-6">
                    {{form.end_date.label_tag}}
                    {{form.end_date}}
                </div>

            </div>
            
        





            <a onclick="displayJobInfo()" class="btn btn-primary ">NEXT</a>
            <a href="{% url 'list-work' tracking %}" class="btn btn-danger"> Cancel</a>

        </div>
        <div id="JobExtradetails" style="display: none;">
            <!-- copied from summary  start -->
            <div class="row">
                <div class="col-md-7 summary-suggestions">
                    <label for="summary-suggestions-label" class="control-label">Search by job title for pre-written examples</label>
                    <div class="row">
                        <div class="col-10">
                            <input type="search" id="search-box-work" class="form-control" placeholder="Title, industry, keyword">
                            <ul id="search-suggestions-work"></ul>
                        </div>
                        <div class="col-2">
                            <button type="button" id="btn-title-search-work" class="btn btn-primary" title="search"> Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div id="related-popular-work"></div>
                        </div>
                        <div class="col-7">
                            <label for="summary-label" class="control-label">Showing results for : <p id="jobtitledisplay-work" style="font-weight: bold;"></p>
                            </label>
                            <div id="loading-work">Loading...</div>
                            <div id="suggestions-work">
                                <ul id="result-list-work"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 skills">
                    <label for="summary-label" class="control-label">Nice! Now let's add the job description</label>
                    <div id="display-jog-title-employer-city"></div>
                    <div class="form-group">
                        {{form.job_description.label_tag}}
                        {{form.job_description}}
                    </div>
                </div>
            </div>
            <button type="submit"  class="btn btn-success">Save</button>
            <a href="{% url 'list-work' tracking %}" class="btn btn-danger"> Cancel</a>
        </div>
    </form>
    
</div>    

<script>
    function displayJobInfo() {

        var a = document.getElementById("Jobdetails");
        a.style.display = "none";

        var b = document.getElementById("JobExtradetails");
        b.style.display = "block";

	}
</script>

<!-- script for work start -->
<script id="for-work-job-titles">
    $(document).ready(function() {
                $('#search-box-work').keyup(function() {
                        var query = $('#search-box-work').val();
                        if (query.length > 0) {
                            $.ajax({
                                    url: 'http://localhost/summary-job-titles.php',
                                    type: 'POST',
                                    dataType: 'json',
                                    data: {
                                        search_query: query
                                    },
                                    success: function(data) {
                                        $('#search-suggestions-work').empty();
                                        if (data.length > 0) {
                                            $.each(data, function(index, value) {
                                                    $('#search-suggestions-work').append(' < li > '+value.title+' < /li>');
                                                    }); $('#search-suggestions-work').show();
                                            }
                                        }
                                    });
                            }
                            else {
                                $('#search-suggestions-work').hide();
                            }
                        }); $('#search-suggestions-work').on('click', 'li', function() {
                        var suggestion = $(this).text();
                        $('#search-box-work').val(suggestion);
                        $('#search-suggestions-work').hide();
                        // added start 
                        var query = suggestion;
                        if (query.length > 0) {
                            $.ajax({
                                url: 'http://localhost/summary-job-titles.php',
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    search_query: query
                                },
                                success: function(data) {
                                    if (data[0].relatedJobTitles.length > 0) {
                                        var relatedJobTitles = data[0].relatedJobTitles;
                                        var relatedJobTitlesList = " < ul > ";
                                        relatedJobTitles.forEach(function(title) {
                                            relatedJobTitlesList += " < li style = 'font-size:0.875em' > "  + " < a href = '#' > " + title + " < /a>" + " < /li>";
                                        });
                                        relatedJobTitlesList += " < /ul>";
                                        var html = " < p > < strong > Related job titles: < /strong> < /p>" + relatedJobTitlesList;
                                        $("#related-popular-work").html(html);
                                    } else {
                                        $('#related-popular-work').empty();
                                        if (data.length > 0) {
                                            var popular = " < ol > ";
                                            $.each(data, function(index, value) {
                                                popular += " < li > " + value.title + " < /li>";
                                            });
                                            popular += " < /ol>";
                                            var html = " < p > < strong > Popular job titles: < /strong> < /p>" +  " < a href = '#' > " + popular + " < /a>" ;
                                            $("#related-popular-work").html(html);
                                        }
                                    }
                                }
                            });
                            //adding event ha
                            // add a click event handler to the links-container element
                            $('#related-popular-work').on('click', 'a', function(event) {
                                // prevent the default behavior of following the link
                                event.preventDefault();
                                // handle the click event here
                                var searchValue = $(this).text();
                                $("#search-box-work").val(searchValue);
                                searchsummary();
                            });
                            //adding event ha
                        } else {
                            $('#search-suggestions-work').hide();
                        }
                        // added end 
                    });
                });
</script>
<script id="for-work-search-description">
    const searchBoxwork = document.getElementById("search-box-work");
    const searchBtnwork = document.getElementById("btn-title-search-work");
    searchBoxwork.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            searchsummarywork();
        }
    });
    searchBtnwork.addEventListener("click", searchsummarywork);

    function searchsummarywork() {
        const searchBtnwork = document.getElementById('btn-title-search-work');
        const searchInputwork = document.getElementById('search-box-work');
        const resultsDivwork = document.getElementById("suggestions");
        const resultListwork = document.getElementById('result-list-work');
        const loadingwork = document.getElementById('loading-work');
        const jobtitledisplaywork = document.getElementById("jobtitledisplay-work");
        jobtitledisplaywork.textContent = searchBoxwork.value;
        const urlwork = `http://localhost/job-work-suggestions.php/?search_query=${searchInputwork.value}`;
        loadingwork.style.display = 'block';
        fetch(urlwork).then(response => response.json()).then(data => {
            resultListwork.innerHTML = '';
            data.result.forEach(result => {
                const liwork = document.createElement('li');
                const buttonwork = document.createElement('button');
                buttonwork.classList.add("btn");
                buttonwork.classList.add("btn-primary");
                buttonwork.innerText = 'Add';
                buttonwork.setAttribute("id", "addremovesummary-work");
                let spanwork = document.createElement('div');
                spanwork.innerHTML = result.text;
                liwork.appendChild(buttonwork);
                liwork.appendChild(spanwork);
                resultListwork.appendChild(liwork);
                //add remove button
                // Get the button and textarea elements
                //const myButton = document.getElementById("myButton");
                const myTextareawork = document.getElementById("id_job_description");
                // Add a click event listener to the button
                buttonwork.addEventListener("click", function(event) {
                    event.preventDefault();
                    // Copy the text from the input element to the textarea
                    const textwork = this.nextElementSibling.textContent.trim();
                    const myInputwork = textwork;
                    myTextareawork.value += textwork + " ";
                    buttonwork.textContent = "REMOVE";
                    // Toggle the button color between danger and primary
                    if (buttonwork.classList.contains("btn-danger")) {
                        buttonwork.classList.remove("btn-danger");
                        buttonwork.classList.add("btn-primary");
                        buttonwork.textContent = "ADD";
                        const startwork = myTextareawork.value.indexOf(myInputwork);
                        const endwork = startwork + myInputwork.length;
                        // Remove the copied text from the textarea
                        myTextareawork.value = myTextareawork.value.substring(0, startwork) + myTextareawork.value.substring(endwork);
                        myTextareawork.value = myTextareawork.value.replace(myInputwork, "");
                    } else {
                        buttonwork.classList.remove("btn-primary");
                        buttonwork.classList.add("btn-danger");
                    }
                });
                //add remove button
            });
            loadingwork.style.display = 'none';
        }).catch(error => {
            console.error(error);
            loadingwork.style.display = 'none';
        });
    }
</script>
<!-- script for work end -->

{% endblock content %}
