{% extends 'base-resume.html' %}
{% block title %}Add/edit Interest{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <h2>Accomplishments</h2>

    {% for obj in accomplishments %}
        {{obj.id}}--{{ obj.accomplishments }}, {{ obj.proficiency }}
       <a href="{% url 'addeditAccomplishment' tracking obj.accomplishmenttracking  %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
       <a href="{% url 'deleteaccomplishment' tracking obj.accomplishmenttracking  %}"style='color:red'><i class='fa fa-trash-o' ></i>  Delete</a>
    
       <hr>
    {% endfor %}
    
    <a href="{% url 'addeditAccomplishment' tracking newone  %}" class="btn btn-outline-primary"> + Add new one</a>

    
    <div class="row">
        <div class="col-6">
            <a href="{% url 'list-accomplishment' tracking %}" class="btn btn-outline-primary"> Back</a>
        </div>
        <div class="col-6">
            <a href="{% url 'list-accomplishment' tracking %}" class="btn btn-danger"> Next</a>
        </div>
    </div>
</div>    

{% endblock content %}