{% extends 'base-resume-create.html' %}
{% block title %}Heading{% endblock %}
{% block content %}
{% load static %}
{% block head %}
{% endblock head %}
   <!-- test start  -->

    <div class="page-title-wrap  ">
        <h1 class="page-title">What’s the best way for employers to contact you?</h1>
        <p class="sub-title">We suggest including an email and phone number.</p>
    </div>
    <div class="row">
        <div class="col-cntc-img col-md-2 p-0 ">
            <div class="upload-photo-section">
                <div class="upload-image-wraper">
                    <div class=" upload-image ">
                        <img alt="Sample Image for Photo Upload" class="square thumbnail-img" id="uploadimage" src="{% static 'Contact Info - Zety_files/NoImageBlue.png' %}">
                    </div>
                    <button type="button" class="btn upload-img-btn">Upload Photo</button>
                </div>
            </div>
        </div>
        <div class="col-cntc-form col-md-7 ">
            <form id="myResumeForm"  method="post" enctype="multipart/form-data">
                {% csrf_token %}  

                <div class="cntc-fields-wrap">
                    <div class="row row-full-name">
                        <div class="col-6 col-first-name">
                            <div class="form-group placeholder-wrap bold-FNAM  is-valid">
                                <label class="control-label " for="textFNAM">First Name <span></span>
                                </label>
                                <input type="text" name="FNAM" placeholder="e.g. Minenhle" maxlength="35" class="form-control" id="textFNAM" autocomplete="given-name" aria-label="First Name" aria-required="false" value="">
                            </div>
                        </div>
                        <div class="col-6 col-last-name">
                            <div class="form-group placeholder-wrap bold-LNAM  is-valid">
                                <label class="control-label " for="textLNAM">Surname <span></span>
                                </label>
                                <input type="text" name="LNAM" placeholder="e.g. Dlamini" maxlength="35" class="form-control" id="textLNAM" autocomplete="family-name" aria-label="Surname" aria-required="false" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row row-doc-title">
                        <div class="col-md-12 col-doc-title">
                            <div class="form-group placeholder-wrap bold-DCTL  is-valid">
                                <label class="control-label " for="textDCTL">Profession <span></span>
                                </label>
                                <input type="text" name="DCTL" placeholder="e.g. Sr. Accountant" class="form-control" id="textDCTL" autocomplete="additional-name" aria-label="Profession" aria-required="false" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row row-city-state-zip">
                        <div class="col-city col-6 field-1">
                            <div class="form-group placeholder-wrap bold-CITY  is-valid">
                                <label class="control-label " for="city">City <span></span>
                                </label>
                                <input type="city" name="CITY" placeholder="e.g. Durban" maxlength="100" class="form-control" id="city" autocomplete="address-level2" aria-label="City" aria-required="false" value="">
                            </div>
                        </div>
                        <div class="col-6 col-country col-xl-3  field-2">
                            <div class="form-group placeholder-wrap bold-CNTY  is-valid">
                                <label class="control-label " for="country">Country <span></span>
                                </label>
                                <input type="country" name="CNTY" placeholder="e.g. South Africa " maxlength="50" class="form-control" id="country" aria-label="Country" aria-required="false" value="">
                            </div>
                        </div>
                        <div class="col-6 col-zip col-xl-3  field-3">
                            <div class="form-group placeholder-wrap bold-ZIPC  is-valid">
                                <label class="control-label " for="zip">Postal Code <span></span>
                                </label>
                                <input type="zip" name="ZIPC" placeholder="e.g. 4057" maxlength="10" class="form-control" id="zip" autocomplete="shipping postal-code" aria-label="Postal Code" aria-required="false" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row row-extra-field"></div>
                    <div class="row row-phone-email">
                        <div class="col-sm-6 col-phone">
                            <div class="form-group placeholder-wrap bold-HPHN  is-valid">
                                <label class="control-label " for="HPHN">Phone <span></span>
                                </label>
                                <input type="tel" name="HPHN" placeholder="e.g. +27 82 978 5313" maxlength="20" class="form-control" id="HPHN" autocomplete="tel" aria-label="Phone" aria-required="false" value="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-email">
                            <div class="form-group placeholder-wrap bold-EMAI  is-valid">
                                <label class="control-label " for="EMAI">Email <span></span>
                                </label>
                                <input type="email" name="EMAI" placeholder="e.g. minenhledlamini@sample.za" maxlength="50" class="form-control" id="EMAI" autocomplete="email" aria-label="Email" aria-required="false" value="">
                            </div>
                        </div>
                    </div>
                    <div class="additional-options">
                        <div class="add-social-links">
                            <a class="link" href="javascript:;">
                                <span class="icon-add"></span>Add Social Links </a>
                        </div>
                    </div>
                </div>
                <button  type="submit" class="btn btn-primary" >Save and Next z</button>
            </form>
        </div>
        <div class="resume-thumbnail col-md-3">
            <div class="resume-preview thumb-preview" style="opacity: 1;">
                
            </div>
            <p class="btn-preview-ctnr">
                <button title="Preview my resume" type="button" aria-hidden="true" class="btn btn-default btn-preview">
                    <i class="icon-thumbnail-preview far fa-eye" aria-hidden="true"></i>Preview </button>
            </p>
            <button type="button" class="btn btn-link change-template-btn">Change template</button>
        </div>
    </div>
    <div class="btn-group-footer">
        <button id="basicnext"  type="button"  class="btn btn-primary btn-next js-next-button">Next: Work History</button>

        <button type="button" class="btn btn-default btn-back js-back-button">Back</button>
    </div>

<!-- test end -->

<script>

    document.getElementById('basicnext').addEventListener("click", function(){
        document.getElementById('hiddensub').click();
    });

</script>

<script>

    // var lx = document.getElementById("hideunhideSocialLink");
    //     lx.addEventListener("click", function(event){
    //     event.preventDefault();

    //         const socialDiv = document.getElementById('socialdiv');
    //         const rows = socialDiv.querySelectorAll('.row');
    //         const rowCnt = rows.length;

    //         const socialcontainer = document.getElementById('socialcontainer');

    //         const addButton = document.getElementById('addsocial');
    //         if (rowCnt === 0) {
    //             document.getElementById('addsocial').click();

    //         }
    //         if (lx.innerText === "+ Add Social Links") {
    //             lx.innerText = "- Add Social Links";
    //             socialcontainer.style.display = "block";
    //         } else {
    //             lx.innerText = "+ Add Social Links";
    //             socialcontainer.style.display = "none";
    //         }
    // });

    // const fileInput = document.querySelector('#image-file');
    //     fileInput.addEventListener('change', () => {

    //   var imgpathname = window.location.pathname;
    //   var imgresumetracking = imgpathname.substring(imgpathname.lastIndexOf('/') + 1);
    //   url = `/api/add-edit-resume/`;

    //   const formData = new FormData();
    //   formData.append('image', fileInput.files[0]);
    //   formData.append('tracking', imgresumetracking);


    //   imagemethod= 'PUT'
    //   var getimage = document.getElementById("uploadimage")
    //     if(getimage.src.indexOf('NoImage.jpg') !== -1){

    //         imagemethod = 'POST'
    //     }

    //   const xhr = new XMLHttpRequest();
    //   xhr.open(imagemethod, url);
    //   xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
    //   xhr.send(formData);
    //   xhr.onload = () => {
    //     if (xhr.status === 200) {
    //       console.log(xhr.response);

    //       const imageUrl = JSON.parse(xhr.response).image;
    //       const preview = document.getElementById('uploadimage');
    //       const modalimg = document.getElementById('modalimg');

    //       preview.src =  imageUrl;
    //       modalimg.src =  imageUrl;

    
    //     } else {
    //       console.error(xhr.statusText);
    //     }
    //   };
    // });

    // Get CSRF token from cookies
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>

<script>
    // var csrfToken = document.querySelector('[name=csrf-token]').content;

    function updateSocial(method,social, name, url) {

            var upspathname = window.location.pathname;
            var upsresumetracking = upspathname.substring(upspathname.lastIndexOf('/') + 1);
            // Create a new PUT request with the updated data
            var xhrl = new XMLHttpRequest();
            xhrl.open(method, '/api/add-edit-social/');
            xhrl.setRequestHeader('Content-Type', 'application/json');
            xhrl.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
            xhrl.onload = function() {
                if (xhrl.status === 200) {
                console.log('social updated:');
                } else {
                    console.error('Error updating social:');
                }
            };
            xhrl.send(JSON.stringify({
                'resume': upsresumetracking,
                'name': name,
                'url': url,
                'socialtracking': social.socialtracking
            }));
        }
    function renderSocial(social){
                // Create a new row for each social object
                const divouter = document.createElement('div');
                divouter.setAttribute("class","row")
                
                const colname = document.createElement('div');
                colname.setAttribute("class","col-6")
                const formname = document.createElement('div');
                formname.setAttribute("class","form-group")

                // Get the select element
                var select = document.createElement("select");
                select.setAttribute("class","form-control")


                // Create options for Twitter and Facebook
                var twitterOption = document.createElement("option");
                twitterOption.value = "twitter";
                twitterOption.text = "Twitter";
                select.add(twitterOption);

                var linkedInOption = document.createElement("option");
                linkedInOption.value = "linkedIn";
                linkedInOption.text = "LinkedIn";
                select.add(linkedInOption);


                var websiteOption = document.createElement("option");
                websiteOption.value = "website";
                websiteOption.text = "Website";
                select.add(websiteOption);



                const colurl = document.createElement('div');
                colurl.setAttribute("class","col-5")
                const formgurl= document.createElement('div');
                formgurl.setAttribute("class","form-group")
                var socialurlInput = document.createElement('input');
                socialurlInput.type = 'text';
                socialurlInput.setAttribute("class","form-control")

                select.addEventListener('change', function() {
                    updateSocial('PUT',social,select.value,socialurlInput.value);
                });

                socialurlInput.addEventListener('change', function() {
                    updateSocial('PUT',social,select.value,socialurlInput.value);

                });

                const coldel = document.createElement('div');
                coldel.setAttribute("class","col-1")
                const formdel = document.createElement('div');
                formdel.setAttribute("class","form-group")

                const deletelink = document.createElement('a');
                deletelink.setAttribute("style","color:red")
                const ielement = document.createElement('i');
                deletelink.setAttribute("class","fa fa-trash-o")
                deletelink.appendChild(ielement)

                deletelink.href = `/api/delete-social/${social.socialtracking}`;
                deletelink.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the link from navigating to the URL

                const xhr = new XMLHttpRequest();
                xhr.open('DELETE', deletelink.href);
                xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        updateaddsoc();
                    console.log('Social deleted successfully!');
                    } else {
                    console.error('An error occurred while deleting the Social:', xhr.statusText);
                    }
                };
                xhr.onerror = function() {
                    console.error('An error occurred while deleting the Social:', xhr.statusText);
                };
                xhr.send();
                divouter.remove()

                // gg 

                const socialDiv2 = document.getElementById('socialdiv');
                const rows2 = socialDiv2.querySelectorAll('.row');
                const rowCnt2 = rows2.length;

                const socialcontainer2 = document.getElementById('socialcontainer');
                var lx2 = document.getElementById("hideunhideSocialLink");


                const addButton = document.getElementById('addsocial');
                if (rowCnt2 === 0) {
                    lx2.innerText = "+ Add Social Links";
                    socialcontainer2.style.display = "none";
                }
                //gg


                
                });


                // Create a new cell for the name
                select.value = social.name;


                // Create a new cell for the URL
                socialurlInput.value = social.url;



                formname.appendChild(select);
                colname.appendChild(formname);

                formgurl.appendChild(socialurlInput);
                colurl.appendChild(formgurl);

                formdel.appendChild(deletelink)
                coldel.appendChild(formdel);


                divouter.appendChild(colname)
                divouter.appendChild(colurl)
                divouter.appendChild(coldel)



                // Add the row to the table body
                // socialdiv.appendChild(divouter);



    }
    // Fetch data from API endpoint
    fetch('/api/socials/')
        .then(response => response.json())
        .then(data => {

            data.forEach(social => {
                renderSocial(social)
            });
        })
        .catch(error => console.error(error));
</script>

<script>
    class Social {
        constructor(resume, name, url,socialtracking) {
            this.resume = resume;
            this.name = name;
            this.url = url;
            this.socialtracking = socialtracking;

        }
    }

    function updateaddsoc(){
        const socialDiv = document.getElementById('socialdiv');
        const rows = socialDiv.querySelectorAll('.row');
        const rowCnt = rows.length;
        console.log(rowCnt);

        const addButton = document.getElementById('addsocial');
        if (rowCnt === 3) {
            addButton.style.display = 'none';
        } else {
            addButton.style.display = '';
        }
    }


    var addsocial = document.getElementById('addsocial');
    //  addsocial.addEventListener('click', function(event) {
    //             event.preventDefault();
    //             var pathname = window.location.pathname;
    //             var resumetracking = pathname.substring(pathname.lastIndexOf('/') + 1);
     
    //             const mys = new Social(resumetracking, "twitter", "",Math.random().toString(36).substr(2, 9));

    //             renderSocial(mys)
    //             updateSocial('POST',mys,"twitter","");

    //             updateaddsoc();


    // });

</script>

{% endblock content %}




