{% extends 'base-resume.html' %}
{% block title %}Add/edit Affiliations{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <h2>Affiliations</h2>

    {% for obj in affiliations %}
        {{obj.id}}--{{ obj.affiliations }}
       <a href="{% url 'addeditAffiliation' tracking obj.affiliationtracking  %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
       <a href="{% url 'deleteaffiliation' tracking obj.affiliationtracking  %}"style='color:red'><i class='fa fa-trash-o' ></i>  Delete</a>
    
       <hr>
    {% endfor %}
    
    <a href="{% url 'addeditAffiliation' tracking newone  %}" class="btn btn-outline-primary"> + Add new one</a>

    
    <div class="row">
        <div class="col-6">
            <a href="{% url 'list-language' tracking %}" class="btn btn-outline-primary"> Back</a>
        </div>
        <div class="col-6">
            <a href="{% url 'list-language' tracking %}" class="btn btn-danger"> Next</a>
        </div>
    </div>
</div>    

{% endblock content %}


