{% extends 'base-resume-create.html' %}
{% block title %}Add/edit socials{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <h2>socials</h2>

    {% for obj in socials %}
        {{obj.id}}--{{ obj.name }}, {{ obj.url }}
       <a href="{% url 'addeditSocial' tracking obj.socialtracking  %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
       <a href="{% url 'deletesocial' tracking obj.socialtracking  %}"style='color:red'><i class='fa fa-trash-o' ></i>  Delete</a>
    
       <hr>
    {% endfor %}
    
    <a href="{% url 'addeditSocial' tracking newone  %}" class="btn btn-outline-primary"> + Add new one</a>

    
    <div class="row">
        <div class="col-6">
            <a href="{% url 'list-work' tracking %}" class="btn btn-outline-primary"> Back</a>
        </div>
        <div class="col-6">
            <a href="{% url 'list-work' tracking %}" class="btn btn-danger"> Next</a>
        </div>
    </div>
</div>    

{% endblock content %}


