{% extends 'base-resume.html' %}
{% block title %}list oftware{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <h2>Software</h2>

    {% for obj in softwares %}
        {{obj.id}}--{{ obj.software_name }}, {{ obj.proficiency }}
       <a href="{% url 'addeditSoftware' tracking obj.softwaretracking  %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
       <a href="{% url 'deletesoftware' tracking obj.softwaretracking  %}"style='color:red'><i class='fa fa-trash-o' ></i>  Delete</a>
    
       <hr>
    {% endfor %}
    
    <a href="{% url 'addeditSoftware' tracking newone  %}" class="btn btn-outline-primary"> + Add new one</a>

    
    <div class="row">
        <div class="col-6">
            <a href="{% url 'list-work' tracking %}" class="btn btn-outline-primary"> Back</a>
        </div>
        <div class="col-6">
            <a href="{% url 'list-work' tracking %}" class="btn btn-danger"> Next</a>
        </div>
    </div>
</div>    

{% endblock content %}


