{% extends 'base-resume-create.html' %}
{% block title %}Heading{% endblock %}
{% block content %}
{% load static %}
{% block head %}
<style>

</style>
{% endblock head %}
<div class="container">
    <meta name="csrf-token" content="{{ csrf_token }}">

    

        <div class="row">
            <div class="col-md-2">
                  <div class="row">
                    {% if image %}
                    <img src="{{ image.url }}" alt="Sample Image for Photo Upload" id="uploadimage" class="img-fluid">
                    {% else %}
                    <img src="http://127.0.0.1:8000/media/NoImage.jpg" alt="Sample Image for Photo Upload" id="uploadimage" class="img-fluid">
                    {% endif %}
                </div>
                  
                    
                      <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Open modal
                    </button>

                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                        <div class="modal-content">
                        
                            <!-- Modal Header -->
                            <div class="modal-header">
                            <h4 class="modal-title">Photo upload</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            
                            <!-- Modal body -->
                            <div class="modal-body">
                                
                                <div class="row">
                                    <div class="col-6">
                                        <img src="{{ image.url }}" alt="Sample Image for Photo Upload" id="modalimg" class="img-fluid">


                                        <form id="image-form" enctype="multipart/form-data">
                                            <label for="image-file" class="btn btn-primary">Upload
                                                <input type="file" id="image-file" name="image"  style="width: 0px;height: 0px;overflow: hidden;">
                                            </label>
                                          </form>

                                    </div>

                                    <div class="col-6">
                                        <div>
                                            <p>Make sure to check the application requirements before adding a photo. Some employers won’t consider resume with photos.</p>
                                            <p>Want to add a photo?</p>
                                        </div>
                                        <ul class="list-square px-0">
                                            <li>• Choose a recent color photo in a JPEG, PNG, or GIF format, that’s less than 10MB.</li>
                                            <li>• Crop your photo so it only shows your head and shoulders.</li>
                                            <li>• If you already uploaded a photo, uploading another will replace it.</li>
                                        </ul>
                                    </div>

                                </div>
                                    
                            </div>
                            
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" >Save</button>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                    


            </div>
            
            <div class="col-md-8">
                <form id="myResumeForm"  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                {{ form.title.label_tag }}
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                {{ form.firstname.label_tag }}
                                {{ form.firstname }}
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                {{ form.lastname.label_tag }}
                                {{ form.lastname }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.profession.label_tag }}
                                {{ form.profession }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                {{ form.city.label_tag }}
                                {{ form.city }}
                            </div>
                        </div>
                        <div class="col-6 col-xl-3">
                            <div class="form-group">
                                {{ form.country.label_tag }}
                                {{ form.country }}
                            </div>
                        </div>
                        <div class="col-6 col-xl-3">
                            <div class="form-group">
                                {{ form.postalcode.label_tag }}
                                {{ form.postalcode }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                {{ form.phone.label_tag }}
                                {{ form.phone }}
                        </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    

                
                    <button id="hiddensub" type="submit" class="btn btn-primary" style="display: none;">Save and Next</button>

                </form>
                
                <a href="#" id="hideunhideSocialLink"  >+ Add Social Links</a>
                <div id="socialcontainer" style="display: none;">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="social-media">Social Media:</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="email">Social Link:</label>
                            </div>
                        </div>
                    </div>
                    <div id="socialdiv"></div>
                    <button id="addsocial"  class="btn btn-outline-primary" > + Add one more</button>

                </div>
                

                

            </div>

            
            <div class="col-md-2">
                <div class="col">
                    <img src="http://127.0.0.1:8000/media/resume-preview.jpg" class="img-fluid" alt="Image">
                </div>
                <button type="button" class="btn btn-primary">Change Template</button>
            </div>
        </div>
        <button id="basicnext" onclick="submitbasicform();" class="btn btn-danger">Save And Next</button>

</div>

<script>

    function submitbasicform() {
        document.getElementById('hiddensub').click();

        }

</script>

<script>

        var lx = document.getElementById("hideunhideSocialLink");
        lx.addEventListener("click", function(event){
            event.preventDefault();

                const socialDiv = document.getElementById('socialdiv');
                const rows = socialDiv.querySelectorAll('.row');
                const rowCnt = rows.length;

                const socialcontainer = document.getElementById('socialcontainer');

                const addButton = document.getElementById('addsocial');
                if (rowCnt === 0) {
                    document.getElementById('addsocial').click();

                }
                if (lx.innerText === "+ Add Social Links") {
                    lx.innerText = "- Add Social Links";
                    socialcontainer.style.display = "block";
                } else {
                    lx.innerText = "+ Add Social Links";
                    socialcontainer.style.display = "none";
                }
        });

    const fileInput = document.querySelector('#image-file');
    fileInput.addEventListener('change', () => {

      var imgpathname = window.location.pathname;
      var imgresumetracking = imgpathname.substring(imgpathname.lastIndexOf('/') + 1);
      url = `/api/add-edit-resume/`;

      const formData = new FormData();
      formData.append('image', fileInput.files[0]);
      formData.append('tracking', imgresumetracking);


      imagemethod= 'PUT'
      var getimage = document.getElementById("uploadimage")
        if(getimage.src.indexOf('NoImage.jpg') !== -1){

            imagemethod = 'POST'
        }

      const xhr = new XMLHttpRequest();
      xhr.open(imagemethod, url);
      xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
      xhr.send(formData);
      xhr.onload = () => {
        if (xhr.status === 200) {
          console.log(xhr.response);

          const imageUrl = JSON.parse(xhr.response).image;
          const preview = document.getElementById('uploadimage');
          const modalimg = document.getElementById('modalimg');

          preview.src =  imageUrl;
          modalimg.src =  imageUrl;

    
        } else {
          console.error(xhr.statusText);
        }
      };
    });

    // Get CSRF token from cookies
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>

<script>
    var csrfToken = document.querySelector('[name=csrf-token]').content;

    function updateSocial(method,social, name, url) {

            var upspathname = window.location.pathname;
            var upsresumetracking = upspathname.substring(upspathname.lastIndexOf('/') + 1);
            // Create a new PUT request with the updated data
            var xhrl = new XMLHttpRequest();
            xhrl.open(method, '/api/add-edit-social/');
            xhrl.setRequestHeader('Content-Type', 'application/json');
            xhrl.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
            xhrl.onload = function() {
                if (xhrl.status === 200) {
                console.log('social updated:');
                } else {
                    console.error('Error updating social:');
                }
            };
            xhrl.send(JSON.stringify({
                'resume': upsresumetracking,
                'name': name,
                'url': url,
                'socialtracking': social.socialtracking
            }));
        }
    function renderSocial(social){
                // Create a new row for each social object
                const divouter = document.createElement('div');
                divouter.setAttribute("class","row")
                
                const colname = document.createElement('div');
                colname.setAttribute("class","col-6")
                const formname = document.createElement('div');
                formname.setAttribute("class","form-group")

                // Get the select element
                var select = document.createElement("select");
                select.setAttribute("class","form-control")


                // Create options for Twitter and Facebook
                var twitterOption = document.createElement("option");
                twitterOption.value = "twitter";
                twitterOption.text = "Twitter";
                select.add(twitterOption);

                var linkedInOption = document.createElement("option");
                linkedInOption.value = "linkedIn";
                linkedInOption.text = "LinkedIn";
                select.add(linkedInOption);


                var websiteOption = document.createElement("option");
                websiteOption.value = "website";
                websiteOption.text = "Website";
                select.add(websiteOption);



                const colurl = document.createElement('div');
                colurl.setAttribute("class","col-5")
                const formgurl= document.createElement('div');
                formgurl.setAttribute("class","form-group")
                var socialurlInput = document.createElement('input');
                socialurlInput.type = 'text';
                socialurlInput.setAttribute("class","form-control")

                select.addEventListener('change', function() {
                    updateSocial('PUT',social,select.value,socialurlInput.value);
                });

                socialurlInput.addEventListener('change', function() {
                    updateSocial('PUT',social,select.value,socialurlInput.value);

                });

                const coldel = document.createElement('div');
                coldel.setAttribute("class","col-1")
                const formdel = document.createElement('div');
                formdel.setAttribute("class","form-group")

                const deletelink = document.createElement('a');
                deletelink.setAttribute("style","color:red")
                const ielement = document.createElement('i');
                deletelink.setAttribute("class","fa fa-trash-o")
                deletelink.appendChild(ielement)

                deletelink.href = `/api/delete-social/${social.socialtracking}`;
                deletelink.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the link from navigating to the URL

                const xhr = new XMLHttpRequest();
                xhr.open('DELETE', deletelink.href);
                xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        updateaddsoc();
                    console.log('Social deleted successfully!');
                    } else {
                    console.error('An error occurred while deleting the Social:', xhr.statusText);
                    }
                };
                xhr.onerror = function() {
                    console.error('An error occurred while deleting the Social:', xhr.statusText);
                };
                xhr.send();
                divouter.remove()

                // gg 

                const socialDiv2 = document.getElementById('socialdiv');
                const rows2 = socialDiv2.querySelectorAll('.row');
                const rowCnt2 = rows2.length;

                const socialcontainer2 = document.getElementById('socialcontainer');
                var lx2 = document.getElementById("hideunhideSocialLink");


                const addButton = document.getElementById('addsocial');
                if (rowCnt2 === 0) {
                    lx2.innerText = "+ Add Social Links";
                    socialcontainer2.style.display = "none";
                }
                //gg


                
                });


                // Create a new cell for the name
                select.value = social.name;


                // Create a new cell for the URL
                socialurlInput.value = social.url;



                formname.appendChild(select);
                colname.appendChild(formname);

                formgurl.appendChild(socialurlInput);
                colurl.appendChild(formgurl);

                formdel.appendChild(deletelink)
                coldel.appendChild(formdel);


                divouter.appendChild(colname)
                divouter.appendChild(colurl)
                divouter.appendChild(coldel)



                // Add the row to the table body
                socialdiv.appendChild(divouter);



    }
    // Fetch data from API endpoint
    fetch('/api/socials/')
        .then(response => response.json())
        .then(data => {

            data.forEach(social => {
                renderSocial(social)
            });
        })
        .catch(error => console.error(error));
</script>

<script>
    class Social {
    constructor(resume, name, url,socialtracking) {
        this.resume = resume;
        this.name = name;
        this.url = url;
        this.socialtracking = socialtracking;

    }
    }

    function updateaddsoc(){
                        const socialDiv = document.getElementById('socialdiv');
                        const rows = socialDiv.querySelectorAll('.row');
                        const rowCnt = rows.length;
                        console.log(rowCnt);

                        const addButton = document.getElementById('addsocial');
                        if (rowCnt === 3) {
                            addButton.style.display = 'none';
                        } else {
                            addButton.style.display = '';
                        }
    }


    var addsocial = document.getElementById('addsocial');
    addsocial.addEventListener('click', function(event) {
                event.preventDefault();
                var pathname = window.location.pathname;
                var resumetracking = pathname.substring(pathname.lastIndexOf('/') + 1);
     
                const mys = new Social(resumetracking, "twitter", "",Math.random().toString(36).substr(2, 9));

                renderSocial(mys)
                updateSocial('POST',mys,"twitter","");

                updateaddsoc();


    });

</script>



{% endblock content %}

