{% extends 'base-resume-create.html' %}
{% block title %}Skills{% endblock %}
{% block content %}
{% load static %}
<meta name="csrf-token" content="{{ csrf_token }}">


<div class="container">
    <!-- {% for obj in skills %}
        {{obj.id}}--{{ obj.skill_name }}, {{ obj.proficiency }}
       <a href="{% url 'addeditSkill' tracking obj.skilltracking  %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
       <a href="{% url 'deleteskill' tracking obj.skilltracking  %}"style='color:red'><i class='fa fa-trash-o' ></i>  Delete</a>
    
       <hr>
    {% endfor %}
    
    <a href="{% url 'addeditSkill' tracking newone  %}" class="btn btn-outline-primary"> + Add new one</a> -->
        <h1>Skills </h1>
        <!-- copied from summary  start -->
        <div class="row">
            <div class="col-md-7 summary-suggestions">
                <label for="summary-suggestions-label" class="control-label">Search by job title for pre-written examples</label>
                <div class="row">
                    <div class="col-10">
                        <input type="search" name="search-box-certifications" id="search-box-certifications" class="form-control" placeholder="Title, industry, keyword">
                        <ul id="search-suggestions-certifications"></ul>
                    </div>
                    <div class="col-2">
                        <button type="button" id="btn-title-search-certifications" class="btn btn-primary" title="search"> Search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div id="related-popular-certifications"></div>
                    </div>
                    <div class="col-7">
                        <label for="summary-label" class="control-label">Showing results for : <p id="jobtitledisplay-certifications" style="font-weight: bold;"></p>
                        </label>
                        <div id="loading-certifications">Loading...</div>
                        <div id="suggestions-certifications">
                            <ul id="result-list-certifications"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 certifications">
                <label for="summary-label" class="control-label">What certifications would you like to highlight?</label>
                <div id="display-jog-title-employer-city"></div>
                <div id="list-certifications-container">

                    <div class="row">
                        <table id="skill-table">
                            <thead>
                                <tr>
                                    <th>Skill</th>
                                    <th>Proficiency</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <a onclick="theaddmorecertifications();" class="btn btn-outline-primary"> + Add More certifications</a>
                </div>
            </div>
            <!-- copied from summary end -->
        </div>
    
    <div class="btn-group-footer">
        
        <a href="{% url 'list-edu' tracking %}" class="btn btn-primary  btn-back js-next-button"> Back</a>
        <a href="{% url 'create-summary' tracking %}" class="btn btn-default btn-next js-back-button"> Next</a>


    </div>
</div>

  <!-- script for certifications start -->
  <script id="for-certifications-job-titles">
    var csrfToken = document.querySelector('[name=csrf-token]').content;

    $(document).ready(function() {
            $('#search-box-certifications').keyup(function() {
                    var query = $('#search-box-certifications').val();
                    if (query.length > 0) {
                        $.ajax({
                                url: 'http://127.0.0.1/summary-job-titles.php',
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    search_query: query
                                },
                                success: function(data) {
                                    $('#search-suggestions-certifications').empty();
                                    if (data.length > 0) {
                                        $.each(data, function(index, value) {
                                                $('#search-suggestions-certifications').append(' < li > '+value.title+' < /li>');
                                                }); $('#search-suggestions-certifications').show();
                                        }
                                    }
                                });
                        }
                        else {
                            $('#search-suggestions-certifications').hide();
                        }
                    }); $('#search-suggestions-certifications').on('click', 'li', function() {
                    var suggestion = $(this).text();
                    $('#search-box-certifications').val(suggestion);
                    $('#search-suggestions-certifications').hide();
                    // added start 
                    var query = suggestion;
                    if (query.length > 0) {
                        $.ajax({
                            url: 'http://127.0.0.1/summary-job-titles.php',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                search_query: query
                            },
                            success: function(data) {
                                if (data[0].relatedJobTitles.length > 0) {
                                    var relatedJobTitles = data[0].relatedJobTitles;
                                    var relatedJobTitlesList = " < ul > ";
                                    relatedJobTitles.forEach(function(title) {
                                        relatedJobTitlesList += " < li style = 'font-size:0.875em' > "  + " < a href = '#' > " + title + " < /a>" + " < /li>";
                                    });
                                    relatedJobTitlesList += " < /ul>";
                                    var html = " < p > < strong > Related job titles: < /strong> < /p>" + relatedJobTitlesList;
                                    $("#related-popular-certifications").html(html);
                                } else {
                                    $('#related-popular-certifications').empty();
                                    if (data.length > 0) {
                                        var popular = " < ol > ";
                                        $.each(data, function(index, value) {
                                            popular += " < li > " + value.title + " < /li>";
                                        });
                                        popular += " < /ol>";
                                        var html = " < p > < strong > Popular job titles: < /strong> < /p>" +  " < a href = '#' > " + popular + " < /a>" ;
                                        $("#related-popular-certifications").html(html);
                                    }
                                }
                            }
                        });
                        //adding event ha
                        // add a click event handler to the links-container element
                        $('#related-popular-certifications').on('click', 'a', function(event) {
                            // prevent the default behavior of following the link
                            event.preventDefault();
                            // handle the click event here
                            var searchValue = $(this).text();
                            $("#search-box-certifications").val(searchValue);
                            searchsummary();
                        });
                        //adding event ha
                    } else {
                        $('#search-suggestions-certifications').hide();
                    }
                    // added end 
                });
            });
</script>
<script id="for-certifications-search-certifications">
    const searchBoxcertifications = document.getElementById("search-box-certifications");
    const searchBtncertifications = document.getElementById("btn-title-search-certifications");
    searchBoxcertifications.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            searchsummarycertifications();
        }
    });
    searchBtncertifications.addEventListener("click", searchsummarycertifications);

    function searchsummarycertifications() {
        const searchBtncertifications = document.getElementById('btn-title-search-certifications');
        const searchInputcertifications = document.getElementById('search-box-certifications');
        const resultsDivcertifications = document.getElementById("suggestions");
        const resultListcertifications = document.getElementById('result-list-certifications');
        const loadingcertifications = document.getElementById('loading-certifications');
        const jobtitledisplaycertifications = document.getElementById("jobtitledisplay-certifications");
        jobtitledisplaycertifications.textContent = searchBoxcertifications.value;
        const urlcertifications = `http://127.0.0.1/job-certifications-suggestions.php/?search_query=${searchInputcertifications.value}`;
        loadingcertifications.style.display = 'block';
        fetch(urlcertifications).then(response => response.json()).then(data => {
            resultListcertifications.innerHTML = '';
            data.result.forEach(result => {
                const licertifications = document.createElement('li');
                const buttoncertifications = document.createElement('button');
                buttoncertifications.classList.add("btn");
                buttoncertifications.classList.add("btn-primary");
                buttoncertifications.innerText = 'Add';
                buttoncertifications.setAttribute("id", "addremovesummary-certifications");
                let spancertifications = document.createElement('div');
                spancertifications.innerHTML = result.text;
                licertifications.appendChild(buttoncertifications);
                licertifications.appendChild(spancertifications);
                resultListcertifications.appendChild(licertifications);
                //add remove button
                // Get the button and textarea elements
                //const myButton = document.getElementById("myButton");
                // Add a click event listener to the button
                buttoncertifications.addEventListener("click", function() {
                    var textxxx = this.nextElementSibling.textContent.trim();

                    buttoncertifications.textContent = "REMOVE";


                    if (buttoncertifications.classList.contains("btn-danger")) {
                        buttoncertifications.classList.remove("btn-danger");
                        buttoncertifications.classList.add("btn-primary");
                        buttoncertifications.textContent = "ADD";

                        // Get all the <div> elements inside the <ul> list
                            const divs = document.querySelectorAll('#skill-table tbody tr');

                            for (var i = 0, row; row = divs[i]; i++) {
                                const ad = row.querySelector("a"); // remove [i] from row[i]
                                const textBoxx = row.querySelector("input[type='text']");

                                console.log(textBoxx.value);

                                if (textBoxx.value.includes(textxxx)) {
                                    if (ad) {
                                        row.remove(); // remove divs[i] and replace with row
                                        const xhrl = new XMLHttpRequest();
                                        xhrl.open('DELETE', ad.getAttribute("href"));
                                        xhrl.setRequestHeader('X-CSRFToken', csrfToken);
                                        xhrl.onload = function() {
                                            if (xhrl.status === 200) {
                                                console.log('skill deleted successfully!');
                                                row.remove(); // remove row instead of rowl
                                            } else {
                                                console.error('An error occurred while deleting the skill:', xhrl.statusText);
                                            }
                                        };
                                        xhrl.onerror = function() {
                                            console.error('An error occurred while deleting the skill:', xhrl.statusText);
                                        };
                                        xhrl.send();
                                    }
                                }
                            }
                    } else {
                        buttoncertifications.classList.remove("btn-primary");
                        buttoncertifications.classList.add("btn-danger");
                        addSkill(textxxx,"0");
                     
                        }



               
                });
                //add remove button
            });
            loadingcertifications.style.display = 'none';
        }).catch(error => {
            console.error(error);
            loadingcertifications.style.display = 'none';
        });
    }

    function theaddmorecertifications() {
        addSkill("","0");
    }

    function deletecertifications() {
        var deleteButtons = document.querySelectorAll("#list-certifications-container button");
        // Loop through the delete buttons and attach a click event listener
        deleteButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                // Get the parent list item of the clicked button and remove it
                var listItem = button.parentNode;
                listItem.remove();
            });
        });
    }
</script>


<!-- script for certifications end -->


<!-- class start  -->
<script>
    class Skill {
    constructor(resume, skill_name, proficiency,skilltracking) {
        this.resume = resume;
        this.skill_name = skill_name;
        this.proficiency = proficiency;
        this.skilltracking = skilltracking;

    }
    }
    function addSkillPOST(method,skill) {

        var xhrl = new XMLHttpRequest();
        xhrl.open(method, '/api/add-edit-skill/');
        xhrl.setRequestHeader('Content-Type', 'application/json');
        xhrl.setRequestHeader('X-CSRFToken', csrfToken);
        xhrl.onload = function() {
            if (xhrl.status === 200 || xhrl.status === 201) {
            console.log('skill updated or added:');
            } else {
                console.error('Error adding or updating skill:');
            }
        };
        xhrl.send(JSON.stringify({
            'resume': skill.resume,
            'skill_name': skill.skill_name,
            'proficiency': skill.proficiency,
            'skilltracking': skill.skilltracking
        }));
    }
    function addSkill(skill_name,proficiency){
        var pathname = window.location.pathname;
        var resumetracking = pathname.substring(pathname.lastIndexOf('/') + 1);
        skt = Math.random().toString(36).substr(2, 9);
        var skillx = new Skill(resumetracking,skill_name,proficiency,skt);
        addSkillPOST("POST",skillx)
        renderRowl(skillx);
    }

</script>
<!-- class end -->


<!-- skill start  -->
<script>
    // Get the CSRF token from the HTML meta tag
    var csrfTokenl = document.querySelector('[name=csrf-token]').content;

    // Get the table body element
    var tableBodyl = document.querySelector('#skill-table tbody');

    // Function to render a row in the table
    function renderRowl(skill) {
        // Create a new row element
        var rowl = document.createElement('tr');
        var td1l = document.createElement('td');
        var td2l = document.createElement('td');

        // Create two new input elements for the skill name and proficiency
        var nameInputl = document.createElement('input');

        

        nameInputl.type = 'text';
        nameInputl.value = skill.skill_name;
        console.log(skill.skill_name);
        var proficiencyInputl = skill.proficiency;


        var thedivl = document.createElement('jsuites-rating');
        thedivl.setAttribute('value',skill.proficiency);
        thedivl.setAttribute('tooltip','Ugly, Bad, Average, Good, Outstanding');

        thedivl.addEventListener('onchange', function(e) {
            updateSkill(skill, nameInputl.value, this.value);

        });

    
        const idl = skill.skilltracking; // Replace with the actual ID of the skill to be deleted
        const deletelinkl = document.createElement('a');
        deletelinkl.href = `/api/delete-skill/${idl}`;
        deletelinkl.innerHTML = 'Delete skill';
        deletelinkl.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the link from navigating to the URL

        const xhrl = new XMLHttpRequest();
        xhrl.open('DELETE', deletelinkl.href);
        xhrl.setRequestHeader('X-CSRFToken', csrfToken);
        xhrl.onload = function() {
            if (xhrl.status === 200) {
            console.log('Skill deleted successfully!');
            rowl.remove();
            // location.reload();
            } else {
            console.error('An error occurred while deleting the skill:', xhrl.statusText);
            }
        };
        xhrl.onerror = function() {
            console.error('An error occurred while deleting the skill:', xhrl.statusText);
        };
        xhrl.send();
        });


    

        // Append the input elements to the row
        td1l.appendChild(nameInputl);
        td2l.appendChild(thedivl);
        td1l.appendChild(deletelinkl);

        
        rowl.appendChild(td1l);
        rowl.appendChild(td2l);


        // Add an event listener to the input elements to update the skill data on change
        nameInputl.addEventListener('change', function() {
            updateSkill(skill, nameInputl.value, proficiencyInputl);
        });

            // Add the row to the table body
            tableBodyl.appendChild(rowl);
        }

    // Function to update a skill with new data
    function updateSkill(skill, name, proficiency) {
        // Get the pathname of the current URL
        var pathnameaddmore = window.location.pathname;
        // Extract the string after the last slash
        var resumetrackingskill = pathnameaddmore.substring(pathnameaddmore.lastIndexOf('/') + 1);
        // Create a new PUT request with the updated data
        var xhrl = new XMLHttpRequest();
        xhrl.open('PUT', '/api/add-edit-skill/');
        xhrl.setRequestHeader('Content-Type', 'application/json');
        xhrl.setRequestHeader('X-CSRFToken', csrfToken);
        xhrl.onload = function() {
            if (xhrl.status === 200) {
            console.log('Skill updated:');
            } else {
                console.error('Error updating skill:');
            }
        };
        xhrl.send(JSON.stringify({
            'skilltracking': skill.skilltracking,
            'resume': resumetrackingskill,
            'skill_name': name,
            'proficiency': proficiency
        }));
    }

    // Fetch the list of skill from the API and render the table rows
    fetch('/api/skills/')
        .then(response => response.json())
        .then(data => data.forEach(renderRowl));
</script>
<!-- skill end -->

{% endblock content %}


