{% extends 'base-resume.html' %}
{% block title %}Add/edit Certification{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <h2>Certifications</h2>

    {% for obj in certifications %}
        {{obj.id}}--{{ obj.certification_name }}, {{ obj.certification_date }}
       <a href="{% url 'addeditCert' tracking obj.certificationtracking  %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
       <a href="{% url 'deletecert' tracking obj.certificationtracking  %}"style='color:red'><i class='fa fa-trash-o' ></i>  Delete</a>
    
       <hr>
    {% endfor %}
    
    <a href="{% url 'addeditCert' tracking newone  %}" class="btn btn-outline-primary"> + Add new one</a>

    
    <div class="row">
        <div class="col-6">
            <a href="{% url 'list-work' tracking %}" class="btn btn-outline-primary"> Back</a>
        </div>
        <div class="col-6">
            <a href="{% url 'list-work' tracking %}" class="btn btn-danger"> Next</a>
        </div>
    </div>
</div>    

{% endblock content %}


