{% extends 'base-resume-create.html' %}
{% block title %}Education{% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <h2>Education Information</h2>

    {% for obj in educations %}
        {{obj.id}}--{{ obj.schoolname }}, {{ obj.schoollocation }}
       <a href="{% url 'addeditedu' tracking obj.edutracking  %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
       <a href="{% url 'deleteedu' tracking obj.edutracking  %}"style='color:red'><i class='fa fa-trash-o' ></i>  Delete</a>
    
       <hr>
    {% endfor %}
    
    <a href="{% url 'addeditedu' tracking newone  %}" class="btn btn-outline-primary"> + Add new one</a>

    

    <footer>
        <a href="{% url 'list-work' tracking %}" class="btn back-button"> Back</a>
        <a href="{% url 'list-skill' tracking %}" class="btn next-button"> Next</a>
    </footer>


</div>    

{% endblock content %}


