{% extends 'base-resume.html' %}
{% block title %}Header{% endblock %}
{% block content %}
{% load static %}
    <!-- <form method="post">
        {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        {{ form.professional_summary.label_tag }}
                        {{ form.professional_summary }}
                    </div>
                    
                </div>
        <button type="submit">Save And Next</button>
    </form> -->
<div class="container">

	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-danger">Save And Next</button>
	</form>
</div>
{% endblock content %}

