{% extends 'main.html' %}
{% block title %}Find Your Dream Job - Comprehensive Job Listings | About Us{% endblock %}
{% block keywords %}{% endblock %}
{% block canonical %}https://www.careercrest.co.za/about/{% endblock %}

{% block description %}Find your dream job today with our comprehensive job listing website.
We offer thousands of job opportunities across multiple industries and locations.
 Search for jobs by keyword, location, or category and easily apply with just a few clicks.
Our user-friendly interface and powerful search engine make job hunting easy and convenient.
 Join our community of job seekers and employers today!{% endblock %}

{% block tcard %}summary_large_image{% endblock %}
{% block tsite %}@careercrest_sa{% endblock %}
{% block ttitle %}Find Your Dream Job - Comprehensive Job Listings | About Us{% endblock %}
{% block tdescription %}Find your dream job today with our comprehensive job listing website.
We offer thousands of job opportunities across multiple industries and locations.
 Search for jobs by keyword, location, or category and easily apply with just a few clicks.
Our user-friendly interface and powerful search engine make job hunting easy and convenient.
 Join our community of job seekers and employers today!{% endblock %}
{% block tcreator %}@careercrest_sa{% endblock %}
{% block timage %}https://www.careercrest.co.za/static/img/carousel-1.png{% endblock %}

{% block ogtitle %}Find Your Dream Job - Comprehensive Job Listings | About Us{% endblock %}
{% block ogtype %}article{% endblock %}
{% block ogurl %}/contact/{% endblock %}
{% block ogimage %}https://www.careercrest.co.za/static/img/carousel-1.png{% endblock %}
{% block ogdescription %}Find your dream job today with our comprehensive job listing website.
We offer thousands of job opportunities across multiple industries and locations.
 Search for jobs by keyword, location, or category and easily apply with just a few clicks.
Our user-friendly interface and powerful search engine make job hunting easy and convenient.
 Join our community of job seekers and employers today!{% endblock %}
{% block ogsite_name %}CareerCrest{% endblock %}

{% block content %}
{% load static %}

<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src=" {% static 'img/about-1.jpg' %}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="{% static 'img/about-2.jpg' %}" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="{% static 'img/about-3.jpg' %}" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="{% static 'img/about-4.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">We Help You Get The Best Job OR Find A Talent</h1>
                <p class="mb-4">“Discover our mission and learn about the team behind the brand new job and bursary site, connecting students,job seekers and employers in a seamless and efficient manner. At CareerCrest , our goal is to empower individuals in their job search and help companies find the top talent they need to succeed. Get to know us and join the CareerCrest community today.”</p>
                <!-- <p><i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita</p>
                <p><i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos</p>
                <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> -->
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}