{% extends 'main.html' %}

{% block title %}Find Your Dream Job - Comprehensive Job Listings | Career Crest{% endblock %}
{% block keywords %}{% endblock %}
{% block canonical %}{% endblock %}

{% block description %}Find your dream job today with our comprehensive job listing website.
We offer thousands of job opportunities across multiple industries and locations.
 Search for jobs by keyword, location, or category and easily apply with just a few clicks.
Our user-friendly interface and powerful search engine make job hunting easy and convenient.
 Join our community of job seekers and employers today!{% endblock %}

{% block tcard %}summary_large_image{% endblock %}
{% block tsite %}@careercrest_sa{% endblock %}
{% block ttitle %}Find Your Dream Job - Comprehensive Job Listings | Career Crest{% endblock %}
{% block tdescription %}Find your dream job today with our comprehensive job listing website.
We offer thousands of job opportunities across multiple industries and locations.
 Search for jobs by keyword, location, or category and easily apply with just a few clicks.
Our user-friendly interface and powerful search engine make job hunting easy and convenient.
 Join our community of job seekers and employers today!{% endblock %}
{% block tcreator %}@careercrest_sa{% endblock %}
{% block timage %}https://www.careercrest.co.za/media/logo.png{% endblock %}

{% block ogtitle %}Find Your Dream Job - Comprehensive Job Listings | Career Crest{% endblock %}
{% block ogtype %}article{% endblock %}
{% block ogurl %}{% endblock %}
{% block ogimage %}https://www.careercrest.co.za/media/logo.png{% endblock %}
{% block ogdescription %}Find your dream job today with our comprehensive job listing website.
We offer thousands of job opportunities across multiple industries and locations.
 Search for jobs by keyword, location, or category and easily apply with just a few clicks.
Our user-friendly interface and powerful search engine make job hunting easy and convenient.
 Join our community of job seekers and employers today!{% endblock %}
{% block ogsite_name %}CareerCrest{% endblock %}

{% block head %}
<style>


@media screen and (min-width: 1200px) {

  .image-container {
    height: 150px;
    width: 150px;

  }

  
}
.job-item img {
    width: 100%;
  height: 100%;
  object-fit: contain;
  }


</style>

{% endblock head %}


{% block content %}
{% load static %}

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Empowering your career search</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Welcome to Career Crest, your ultimate destination for finding the perfect job. We believe that everyone deserves a fulfilling career and it is our mission to make that a reality for you.</p>
                            <a href="{% url 'joblist' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->


<!-- Search Start -->
<div  class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <form method="GET" action="{% url 'home' %}">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input type="text" class="form-control border-0" name="keyword" placeholder="Title, company, industry..." />
                        </div>
                        <div class="col-md-4">
                            <select name="category" class="form-select border-0">
                                <option value=""  selected>Choose Category</option>
    
                                {% for category in categories %}
                                    <option   value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="location" class="form-control border-0" placeholder="Johannesburg.." />
    
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100">Search</button>
                </div>
            </div>
        </form>
        
    </div>
</div>
<!-- Search End -->


<!-- Jobs Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="my-list" data-page="0">
                    </div>                                                      
                    <button class=" load-more btn btn-primary py-3 px-5" >Load More</button>
                </div>              
                
            </div>
        </div>
    </div>
</div>
<!-- Jobs End -->
<script type="text/javascript">
    
    function calltheapi() {
            var currentPage = $('.my-list').data('page');
            var url = 'https://careercrest.co.za/terms.json';

            const params = new URLSearchParams(window.location.search);
            const location = params.get('location');
            const keyword = params.get('keyword');
            const jobCategory = params.get('category');




            $.ajax({
                type: 'GET',
                url: url,
                data: {'page': currentPage + 1,'per_page':10,'keyword': keyword,'jobCategory': jobCategory,'location': location},
                success: function(response) {
                    var data = response['data'];
                    if (data.length > 0) {
                        $('.my-list').data('page', currentPage + 1);
                        for (var i = 0; i < data.length; i++) {
                            $('.my-list').append(`
                            <div class="job-item mb-4">
                                    <a href="${data[i]['theurl']}">
                                        <div class="image-container">
                                            <img src="${data[i]['companylogo'] || '/static/img/android-chrome-512x512.png'}" alt="Job Image">
                                        </div>

                                    </a>
                                    <div class="job-details">
                                        <a href="${data[i]['theurl']}"><h2 class="job-title" style="font-size: 15px; margin-top: 15px;">${data[i]['title'] || 'Vacancy'}</h2></a> 
                                       
                                        ${data[i]['salary'] ? `<p class="job-salary"><i class="far fa-money-bill-alt text-primary me-2"></i>${data[i]['salary']}</p>` : ''}

                                        ${data[i]['companyname'] ? `<p class="job-companyname"><i class="far fa-solid fa-building text-primary me-2"></i>@${data[i]['companyname']}</p>` : ''}

                                        ${data[i]['location'] ? `<p class="job-location"><i class="fa fa-map-marker-alt text-primary me-2"></i>${data[i]['location']}</p>` : ''}
                                        ${data[i]['expiryDate'] !== null && data[i]['expiryDate'] !== undefined && data[i]['expiryDate'] !== '' && data[i]['expiryDate'] !== 'None' ? `<p class="job-expiry-date"><i class="far fa-calendar-alt text-primary me-2"></i>Expires:${data[i]['expiryDate']}</p>` : ''}

                                        <a class="btn btn-primary more-info-button" href="${data[i]['theurl']}" style="margin-bottom: 5px;">More info</a>

                                        </div>

                                   
                            </div>
                                

                              
                                `
                            );

                            
                        }
                    }
                    if(!response.page.has_next){
                        $('.load-more').hide();
                        
                    }
                }
            });
        }


    $(document).ready(function() {
        calltheapi();       
        $('.load-more').click(calltheapi);
    });

</script>
{% endblock %}
