{% extends 'main.html' %}

{% block title %}Create a Job Posting{% endblock %}
{% block keywords %}Create a Job Posting{% endblock %}
{% block canonical %}https://careercrest.co.za/post-a-job/{% endblock %}

{% block description %}Post a job{% endblock %}

{% block tcard %}summary_large_image{% endblock %}
{% block tsite %}@careercrest_sa{% endblock %}
{% block ttitle %}Post a job{% endblock %}
{% block tdescription %}Post a job{% endblock %}
{% block tcreator %}@careercrest_sa{% endblock %}
{% block timage %}{{job.companylogo}}{% endblock %}

{% block ogtitle %}Post a Job{% endblock %}
{% block ogtype %}article{% endblock %}
<meta property="article:modified_time" content="{{job.updated}}" />
{% block ogurl %}https://careercrest.co.za/post-a-job/{% endblock %}
{% block ogimage %}{{ job.companylogo }}{% endblock %}
{% block ogdescription %}Post A job{% endblock %}
{% block ogsite_name %}CareerCrest{% endblock %}




{% block content %}
 <!-- Header End -->
 <div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Job Details</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Job Details</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->

<!-- Job Detail Start -->

    <h1>Create a Job Posting</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post Job">
    </form>

<!-- Job Detail End -->
{% endblock %}


