{% extends 'main.html' %}

{% block content %}
<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Terms And Conditions</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Terms And Conditions</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            
            <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Terms and Conditions</h1>                    
                <ol>
                <li>Introduction Welcome to the Career Crest. This Site is provided by CareerCrest.co.za and is intended to provide job seekers with information about job opportunities and employers with information about job seekers. The following terms and conditions (the “Terms”) govern your use of the Site. By accessing or using the Site, you agree to be bound by the Terms. If you do not agree to the Terms, you may not use the Site.</li>



                <li>Use of the Site The Company grants you a limited, non-exclusive, non-transferable license to access and use the Site for personal use only. You agree not to use the Site for any unlawful purpose or in any way that interferes with the normal operation of the Site.</li>



                <li>User Conduct You agree to use the Site in accordance with all applicable laws and regulations. You will not post any content on the Site that is false, misleading, defamatory, obscene, threatening, or otherwise in violation of any law. You will also not use the Site to harass, discriminate against, or otherwise harm any other person.</li>



                <li>User Content The Site may allow you to submit, upload, or otherwise provide content, including but not limited to text, images, and videos (collectively, “User Content”). You retain all rights in your User Content. By submitting User Content to the Site, you grant the Company a non-exclusive, transferable, sub-licensable, royalty-free, perpetual, irrevocable right to use, copy, modify, display, and distribute your User Content in connection with the Site and the Company’s business.</li>



                <li>Privacy Policy The Company’s Privacy Policy (the “Privacy Policy”) governs the collection and use of information through the Site. By using the Site, you consent to the collection and use of your information as described in the Privacy Policy.</li>



                <li>Disclaimers THE SITE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. THE COMPANY DOES NOT WARRANT THAT THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE, AND THE COMPANY WILL NOT BE LIABLE FOR ANY INTERRUPTIONS OR ERRORS.</li>



                <li>Limitation of Liability THE COMPANY WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND INCLUDING, WITHOUT LIMITATION, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR SIMILAR DAMAGES, WHETHER IN CONTRACT, TORT, OR OTHERWISE, ARISING OUT OF YOUR USE OF THE SITE.</li>



                <li>Indemnification You agree to indemnify, defend, and hold harmless the Company, its affiliates, and their respective officers, directors, employees, agents, and assigns from and against any and all claims, demands, damages, costs, and expenses, including reasonable attorney’s fees, arising from or related to your use of the Site.</li>



                <li>Changes to the Terms The Company reserves the right to modify the Terms at any time. Your continued use of the Site following the posting of any changes to the Terms constitutes your acceptance of such changes.</li>



                <li>Governing Law The Terms will be governed by and construed in accordance with the laws of South Africa, without giving effect to any principles of conflicts of law.</li>
                </ol>

            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}